a {
	text-decoration: none;
	color: #666f77;
}

a:HOVER {
	text-decoration: none;
	color: #666f77;
}

.MarginAuto {
	margin: auto;
}

.SeparatorLeft50 {
	border-left: solid 1px #E0E0E0;
	display: block;
	overflow: hidden;
	height: 50px;
	clear: both;
}

div.ui-paginator.ui-paginator-top.ui-widget-header.ui-corner-top {
	background: #455a64 !important;
}

.ui-fileupload-buttonbar {
	padding: 0 0 !important;
}

.ui-fileupload-choose {
	margin-right: 0 !important;
	width: 170px;
}

.ui-fileupload-content {
	display: none;
}

.ui-datagrid.ui-widget.models {
	border: none !important;
}

.ui-datagrid.ui-widget {
	border: none !important;
}

.inputTextPF {
	border: solid 0px #c6d6df;
	border-bottom: solid 1px #b0bec5;
	background-color: #f5f5f5;
	padding: 9px 10px !important;
	width: 500px;
}

.GreenHidden {
	background: white;
	display: block;
	width: 10px;
	height: 35px;
	text-align: center;
}

.GreenBlick {
	background: rgba(82, 216, 86, 0.75);
	display: block;
	width: 10px;
	height: 35px;
	text-align: center;
}

.GreenArea {
	background: rgba(82, 216, 86, 0.75);
	display: block;
	width: 10px;
	height: 83px;
	text-align: center;
}

.CostBlock {
	display: block;
	width: 40px;
	font-size: 18px;
}

.GreenPanel {
	width: 85px;
	border: hidden !important;
}

.opacity0 {
	opacity: 0;
}

.opacity50 {
	opacity: 0.4;
}

.opacity100 {
	opacity: 1.0;
}

.HiddenBorder {
	border: hidden !important;
}

input[file] {
	width: 100px !important;
}

body {
	font-family: Calibri !important;
	overflow-y: scroll;
}

span {
	font-family: Calibri !important;
}

div {
	font-family: Calibri !important;
}

label {
	font-family: Calibri !important;
}

li {
	font-family: Calibri !important;
}

label.ui-selectonemenu-label {
    font-family: Calibri !important;
}

td {
    font-family: Calibri !important;
}

a {
	font-family: Calibri !important;
}

.info {
	color: #8DCCFB;
    font-size: 20px;
    padding-right: 12px;
}

.padding_left18 {
	padding-left: 18px;
}

.lock {
	padding-right: 7px !important;
    padding-left: 4px;
}